.dashboard-container {
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr .75fr;
    grid-gap: 20px;
    background-color: $bg-color;
    // background-image: url('../assets/skate-bg.jpg');
    // background-repeat: no-repeat;
    // background-position: 83% -20%;
    // background-size: 580px 380px;
    // background-blend-mode: hard-light;
    // box-shadow: 5px 5px 5px 5px rgba(31,29,43,255);

}

header {
    padding: 1.7em;
    // border: 1px solid white;
    .logo {
        font-family: $logo-font;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 1.5em;
    }
    h2 {
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
        color: $text-color;
        margin-bottom: 1.5em;
    }
    ul{
        list-style: none;
        font-size: 0.95rem;
        font-weight: 500;
        color: $text-color;
        margin-bottom: 3em;
        li {
            padding: 0.5em 0;
            margin-bottom: 1em;
            transition: color 0.2s ease;
            i {
                background: #353340;
                color: $text-color;
                padding: 0.5em 0.7em;
                border-radius: 10px;
                margin-right: 0.8em;
            }
        }

        li:hover {
            cursor: pointer;
            color: white;
            i {
                background: #22b07d;
                color: white;
                transition: all 0.2s ease;
            }
        }

        .active {
            background: #22b07d;
            color: white;
        }
        .active-tab {
            color: white;
        }
    }
    hr {
        width: 60%;
        border: none;
        height: 1px;
        background-color: $text-color;
        opacity: 0.7;
        margin-bottom: 3em;
    }
}

main {
    padding: 1.7em;
    // border: 1px solid white;
    min-height: 100vh;
    .search-bar {
        margin-bottom: 2em;
        input {
        width: 80%;
        border: none;
        background: rgba(53, 51, 64, 255);
        padding: 1.2em;
        border-radius: 10px;
        outline: none;
        color: $title-color;
        opacity: 0.7;
        transition: transform 0.2s ease, opacity 0.3s ease-in-out;
        }
        input:focus {
            transform: scale(1.02);
            opacity: 1;
        }
    }
    h1 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .trend-list {
        background-color: #252836;
        border-radius: 15px;
        padding: 1.5em;
        display: flex;
        margin-bottom: 1em;
        p {
            font-size: 3rem;
            font-weight: 800;
            position: absolute;
            margin-left: -1.1em;
            color: #353340;
            opacity: 0.8;
        }

        .dp-image {
                min-height: 170px;
                min-width: 250px;
                width: 250px;
                height: 170px;
                margin-right: 2em;
                
            img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0px 0px 5px 2px #1a1c25;
            }
        }

        .title-content {
            h2 {
                font-weight: 500;
                margin-bottom: 1em;
            }
            i {
                color: red;
                margin-right: 1em;
                transition: transform ease 0.5s;
            }
            i:hover{
                cursor: pointer;
            }
            span {
                margin-right: 1em;
            }
        }

        .like {
            width: 2%;
            margin-left: auto;
            i {
                background-color: #3a3d4a;
                padding: .4em;
                border-radius: 100%;
                color:#808191;
                border: #808191;
            }
            i:hover{
                cursor: pointer;
            }
        }
    }
}

#side-nav-container {
  padding: 1.7em 2.2em;
//   border: 1px solid white;

  .profile-header {
    display: flex;
    align-items: center;
    .left-content {
        display: flex;
        align-items: center;
        width: 40%;
        margin-left: auto;
        margin-right: 3em;
        p {
            margin-left: 1em;
        }
    }
    #profile-pic {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }
    #notify-bell {
        margin-left: 1em;
    }
    #down-arrow {
        position: relative;
        top: 3px;
        transform: scale(1.1);
        margin-left: 1em;
        color: #d2d3d5;
        transition: all ease 0.2s;
    }
    #down-arrow:hover{
        transform: scale(1.2);
        cursor: pointer;
        color: white;
    }
    .dropdown-logout {
        display: none;
        position: absolute;
        top: 1.5em;
        right: -2.4em;
        width: 100px;
        height: 50px;
        background-color: #353340;
    }
    .active-logout {
        display: block;
    }
  }
}
