@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

// Colors
$bg-color: #1f1d2b;
$container-color: #1f1d2b;
$title-color: #ffffff;
$text-color: #d2d3d5;
$button-color: #6c5ecf;

// Typography
$logo-font: 'Poppins', sans-serif;
$body-font: 'Montserrat', sans-serif;

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}